flex-version = flex
support-for-ie = false
vendor-prefixes = official

@import '~nib/lib/nib/index.styl'
@import '~rupture/rupture/index.styl'

.root
  +above(900px)
    display flex
    justify-content center
    align-items: flex-start;
    max-width: 1200px
    margin auto

video
    width 100%
    margin auto

.video-container,  .analysis
    margin-left auto
    margin-right auto
    max-width 100%
    width 700px


.video-container
    position relative
    text-align center
    margin 0 auto 6px


.square
    display inline-block
    height 1em
    width 1em
    border 2px solid yellow
    vertical-align sub

.legenda
    background-color #eee
    padding 1.5em
    input[type=checkbox]
        visibility hidden
        position absolute

small
    color #ccc
    font-size 0.7em

.listing
    max-height 20em
    overflow scroll
