<div class="container">
  <section class="section">
    <div class="container">
      <h1 class="title">Analyze a video</h1>
      <h2 class="subtitle">Search celebrities in our datasets in a video.</h2>
      <form class="field has-addons" :action="$router.resolve('video').href">
        <div class="control is-expanded">
          <input name='v' v-model="video"
          class="input is-large" type="url" placeholder="Insert URI of a video" required>
          <input type='hidden' name='project' :value='$store.state.proj' />
        </div>
        <div class="control">
          <button type="submit" class="button is-large is-primary">GO</button>
        </div>
      </form>
      <p>Try an example: <a @click="video = exampleVideo">{{exampleVideo}}</a> </p>

    </div>
  </section>


  <section class="section">
    <div class="container">
      <h1 class="title">Add a celebrity in the dataset</h1>
      <h2 class="subtitle">Crawl the web for new celebrities.</h2>

      <form class="field has-addons" :action="$router.resolve('person').href">
        <div class="control is-expanded">
          <input name='p' list='people'
          class="input is-large" type="uri" placeholder="Insert the name of a person" required>
          <datalist id="people">
            <option v-for="p in autocomplete" v-bind:value="p.class || p"/>
          </datalist>
        </div>
        <div class="control">
          <button type="submit" class="button is-large is-primary">GO</button>
        </div>
      </form>

      <h2>Already in the dataset:</h2>
      <ul>
        <li v-for="p in people">
          <router-link :to="{name: 'person', query: {p: p.class, project: $store.state.proj}}">{{p.class}}</router-link>
        </li>
      </ul>
</div>
</section>
<section class="section">
  <div class="container">

      <h1 class="title">Train the model</h1>
      <h2 class="subtitle">When you are satisfied with the list of people, start the training!</h2>

      <div class="buttons">
        <button class="button is-success" :class="{'is-loading': training}" @click="startTrain()">Start Training</button>
      </div>


    </div>
  </section>


</div>
