@import 'https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/css/flag-icon.min.css'
@import '~nib/lib/nib/index.styl'
@import '~rupture/rupture/index.styl'

.kg-panel
  display block
  margin auto
  padding 1em
  background-color: #eee
  +below(900px)
    max-width: 700px

h1
  font-weight: bold;
  font-size: 1.3em

div
  margin 1em auto

h2
  font-weight: bold;
  font-style: italic;

ul
  list-style-type: square
  padding-left 1em
  small
    color #555
    font-size 0.6em
    display: block
