ul
  display flex
  flex-wrap wrap
  justify-content space-around
  align-items center
  align-content flex-start
  li
    height 100px
    padding 5px
    &:hover
      img
        border-color #00D1B2
    &.disabled
      img
        border-color #F14667
    img
      border: 4px solid white
      border-radius: 10px
      max-height 100%
