pandas
scikit-learn
numpy
scipy
icrawler
tensorflow==2.2.0
opencv-python
Pillow
filterpy
flask
flask-cors
flask_restx
rdflib
uuid
SPARQLWrapper
SPARQLTransformer
tqdm
requests
pyyaml
pymongo
mtcnn
Werkzeug